/* General styles */  
body {  
    font-family: Arial, sans-serif;  
}  

/* Buttons */  
.btn-custom {  
    display: inline-block;  
    padding: 10px 20px;  
    border: 2px solid white;  
    color: white;  
    background-color: black;  
    text-align: center;  
    border-radius: 5px;  
    transition: all 0.3s ease;  
    text-decoration: none; /* For links */  
}  

.btn-custom:hover {  
    background-color: red;  
    color: black;  
}  

/* Beats Cards */  
.beat-card {  
    background-color: black;  
    border: 2px solid white;  
    padding: 20px;  
    border-radius: 8px;  
    text-align: center;  
    transition: all 0.3s ease-in-out;  
}  

.beat-card:hover {  
    background-color: red;  
    color: black;  
}  

/* Form Inputs */  
.form-input {  
    width: 100%;  
    padding: 10px;  
    margin-top: 5px;  
    border: 2px solid white;  
    border-radius: 5px;  
    background-color: black;  
    color: white;  
    outline: none;  
    transition: all 0.3s ease;  
}  

.form-input:focus {  
    border-color: red;  
}  